<!DOCTYPE html>
<html lang="en">

<%-include ('../partials/head.ejs');%>

<body>
    <%- include ('../partials/header.ejs') %>
    <main>
        <section class="formu">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <h2 class="form-title">Ingrese los siguientes datos para crear su cuenta</h2>
                <label for="nombreYApellido">Nombres y Apellidos:</label>
                <input  type="text" 
                        name="nombreYApellido" 
                        id="nombreYApellido" 
                        placeholder="Ej: Heider Arellano Oviedo"
                        minlength="3"
                        value="<%=locals.old && old.nombreYApellido?old.nombreYApellido:""%>">
                <p class="warning"><%=locals.errors && errors.nombreYApellido? errors.nombreYApellido.msg:""%></p>
                <label for="nombreUsuario">Nombre de Usuario:</label>
                <input  type="user" 
                        name="usuario" 
                        id="usuario" 
                        placeholder="Ej: Heyder16"
                        value="<%=locals.old && old.usuario?old.usuario:""%>">
                <p class="warning"><%=locals.errors && errors.usuario? errors.usuario.msg:""%></p>
                <label for="email">Email:</label>
                <input  type="email" 
                        name="email" id="email" 
                        placeholder="Ej: heider@example.co"
                        value="<%=locals.old && old.email?old.email:""%>">
                <p class="warning"><%=locals.errors && errors.email? errors.email.msg:""%></p>
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" 
                        name="fechaNacimiento" 
                        id="fechaNacimiento"
                        value="<%=locals.old && old.fechaNacimiento?old.fechaNacimiento:""%>">
                <p class="warning"><%=locals.errors && errors.fechaNacimiento? errors.fechaNacimiento.msg:""%></p>
                <label for="domicilio">Domicilio:</label>
                <input  type="text" 
                        name="domicilio" 
                        id="domicilio"
                        placeholder="Ej: Turbaco bolivar, barrio X calle Y N 16"
                        value="<%=locals.old && old.domicilio?old.domicilio:""%>">
                <p class="warning"><%=locals.errors && errors.domicilio? errors.domicilio.msg:""%></p>
                <label for="perfilUsuario">Perfil de Usuario:</label>
                <div>
                    <label>
                        <input type="radio" 
                                name="perfilUsuario" 
                                id="comprador" 
                                value="comprador" 
                                <%=locals.old && old.perfilUsuario=="comprador"?'checked':""%>/>comprador
                    </label>
                    <label>
                        <input type="radio" 
                                name="perfilUsuario" 
                                id="vendedor" 
                                value="vendedor" 
                                disabled
                                <%=locals.old && old.perfilUsuario=="vendedor"?'checked':""%>/>vendedor
                    </label>
                </div>
                <p class="warning"><%=locals.errors && errors.perfilUsuario? errors.perfilUsuario.msg:""%></p>
                <!--             <label for="categorias">Categorias de interes:</label>
            <label><input type="checkbox" name="categorias" id="Electro">Electro</label>
            <label><input type="checkbox" name="categorias" id="Moda">Moda</label>
            <label><input type="checkbox" name="categorias" id="Hogar">Hogar</label>
            <label><input type="checkbox" name="categorias" id="Juguetería">Juguetería</label>
            <label><input type="checkbox" name="categorias" id="VidaSana">Vida sana</label> -->
                <label for="foto">Foto de Usuario</label>
                <input type="file" name="foto" id="foto" accept=".png, .jpg, .svg">
                <p class="warning"><%=locals.errors && errors.foto? errors.foto.msg:""%></p>
                    <br/>
                <label for="contrasena">Contraseña:</label>
                <input type="password" name="contrasena" id="contrasena">
                <p class="warning"><%=locals.errors && errors.contrasena? errors.contrasena.msg:""%></p>
                <label for="reContrasena">Repetir Contraseña:</label>
                <input type="password" name="reContrasena" id="reContrasena">
                <p class="warning"><%=locals.errors && errors.reContrasena? errors.reContrasena.msg:""%></p>
                <div><button type="submit">Enviar</button>
                    <button type="reset">Borrar</button></div>
            </form>
        </section>
    </main>
    <%-include ('../partials/footer');%>
</body>

</html>